html {
  min-width: 100%;
  /* min-height: 100%; */
}

* {
  user-select: none;
  -webkit-user-select: none;
}

body {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow:hidden;
  background-image: url('/img/space6x.jpg');
  background-repeat: no-repeat;
  /* background-size: 100% auto; */
  /* background-size: auto 100%; */
  /* background-position: center top; */
  /* min-height: 100%; */
  background-attachment: fixed;
}

.App {
  text-align: center;
}

pre {
  position: absolute;
  bottom: 1%;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
  padding: 2px;
	background: rgba(255,255,255,0.5);
}

.hidden {
  display: none;
}


button {
  border-radius: 0.25em;
	background: rgb(18,170,23);
	border: 0;
	font-size: 40px;
	padding: 0.25em 0.75em;
	box-shadow: 0 0 15px 1px purple;
  font-family: 'Montserrat', sans-serif;
  text-shadow: 0 0 5px rgb(0,240,0);
  user-select: none;
  -webkit-user-select: none;
}
button:active {
  background: rgb(8,180,0);
  box-shadow: 0 0 7px 0px purple;
}
button span {
  position: relative;
  display: inline-block;
}
button:active span {
  display: inline-block;
  top: 1px;
}

#newGameButton {
  margin-top: 1em;
}

#startButton {
  position: fixed;
  top: 60%;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}

.App > div {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.row > div {
  margin: 0 auto;
  width: 100%;
  /* height: 150px; */
  font-size: 1.5em;
  color: white;
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  text-shadow: 0 0 10px black;
}

.row.level > div {
  font-size: 3em;
}
.reactSwipeWrap {
  position: absolute;
  left: 0;
  right: 0;
}
#playerCountSwipeWrap {
  top: 10%;
  bottom: 60%;
}
#levelSwipeWrap {
  top: 10%;
  bottom: 60%;
}
#livesSwipeWrap {
  top: 30%;
  bottom: 40%;
}
#starsSwipeWrap {
  top: 60%;
  bottom: 10%;
}
#livesSwipeWrap .label,
#starsSwipeWrap .label {
  padding-top: 0;
  padding-bottom: 0.5em;
}

#playerCountDisplay {
  display: none;
}
#playerCountDisplay.visible {
  display: block;
}

.images,
.label {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
#playerCountSwipeWrap .label {
  font-size: 2em;
}
#playerCountSwipeWrap .images,
#playerCountSwipeWrap .label {
  /* padding-top: 1em;
  padding-bottom: 1em; */
}

.row > .images {
  /* margin-bottom: 0.5em; */
}
img.star,
img.starEmpty,
img.bunny,
img.bunnyDead {
  width:  90px;
  height: 90px;
}
img.brain {
  width: 69px;
  height: 69px;
  border-radius: 35px;
  border: 4px solid rgb(18,170,23);
  margin: 0 7px;
  box-shadow: 0 0 10px 1px black;
}

#fireworks {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
